.contact-content h1 {
  font-size: 24px;
}
.list-contact a {
  padding: 5px 0;
  display: block;
  position: relative;
  width: 100%;
}
.list-contact .active a::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 60%;
  top: 10%;
  right: -8%;
  background-color: var(--color_one);
}
.list-contact .active a {
  color: var(--color_one);
}
.contact-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.contact-form textarea {
  width: 100%;
  height: 130px;
  border-radius: 5px;
}
.contact-form button {
  border-radius: 5px;
  background-color: rgb(51, 122, 183);
  color: white;
  padding: 10px;
  font-size: 16px;
  transition: 0.5s ease;
}
.contact-form button:hover {
  background-color: rgb(43, 89, 138);
}

.info-address i {
  margin-right: 10px;
}
.info-address li {
  padding: 5px 0;
}
.contact-content {
  border-left: 1px solid var(--color_six);
  padding-left: 10px;
}
.contact-content h3 {
  font-size: 18px;
}
.contact-child > h3 {
  border-bottom: solid 1px var(--color_six);
  padding: 10px 0 20px;
}
.contact-form input,
.contact-form textarea {
  border: 1px solid var(--color_six);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder,
.contact-form input,
.contact-form textarea {
  color: var(--color_ten);
}
/* introduce */
.product-introduce {
  padding-left: 40px;
}
.product-introduce li {
  padding-left: 20px;
  font-weight: bold;
}
.product-introduce li {
  list-style: disc;
}
@media only screen and (min-width: 260px) and (max-width: 319px) {
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
}
@media only screen and (min-width: 411px) and (max-width: 449px) {
}
@media only screen and (min-width: 450px) and (max-width: 576px) {
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 992px) {
  .list-contact {
    display: none;
  }
  .contact-content {
    border-left: none;
    padding-left: 0;
  }
}
