.footer-block h4 {
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: solid 1px black;
  font-weight: bold;
}
.footer-wrapper {
  background-color: rgb(241, 242, 242);
}
.block-content {
  margin-bottom: 40px;
}
.block-content input {
  border: none;
  border-bottom: solid 1px rgb(181, 172, 202);
  background-color: rgb(241, 242, 242);
  padding: 15px;
  width: 100%;
}
.footer-top {
  border-bottom: solid 1px var(--color_four);
  padding: 15px;
}
.block-content li {
  padding: 5px 0;
  font-size: 13px;
}

.des-block-content {
  text-transform: capitalize;
}
.footer-info {
  padding-top: 20px;
}
.footer-address p {
  margin-bottom: 5px;
}

.copy-right {
  color: var(--color_three);
  max-width: 210px;
  margin-bottom: 20px;
}
.copy-right > p > a {
  color: var(--color_one);
}

.share-icon > ul {
  display: flex;
}
.share-icon li {
  margin-right: 5%;
}
.share-icon li a {
  border-radius: 50%;
  border: 1px solid var(--color_three);
  height: 35px;
  width: 35px;
  display: block;
  text-align: center;
  line-height: 2.5;
  color: var(--color_three);
  transition: 0.3s ease;
}

.share-icon li:hover a {
  background-color: var(--color_one);
  color: white;
}
.share-box {
  display: flex;
  justify-content: flex-end;
}
.fanpage-pinky {
  max-width: 275px;
  margin: auto;
}

.fanpage-pinky > div {
  position: relative;
  width: 100%;
}

.fanpage-pinky > div:first-child {
  height: 130px;
}

.fanpage-pinky-image img {
  height: 100%;
  max-width: 125%;
  width: auto;
  position: relative;
  left: -13%;
}

.fanpage-pinky-image {
  height: 130px;
  max-width: 275px;
  width: 100%;
  overflow: hidden;
}

.fanpage-pinky-top {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 200;
}

.pinky-top {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 200;
}

.pinky-number {
  position: absolute;
  left: 0;
  height: 130px;
  z-index: 200;
}

.pinky-number > div {
  height: 70%;
  padding: 8px;
}

.pinky-number > div > a {
  height: 52px;
  width: 52px;
  border: solid 3px white;
  display: inline-block;
  overflow: hidden;
  margin-right: 3px;
}

.pinky-number a img {
  height: 100%;
  width: 100%;
}

.haravan a {
  font-size: 18px;
  color: white;
  line-height: 1;
}

.haravan span {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/iZv9i3nMpKe.png);
  background-size: 30px 180px;
  background-position: -1px -30px;
  height: 25px;
  width: 20px;
  display: inline-block;
}

.haravan div:nth-child(2) {
  font-size: 12px;
  line-height: 1;
}

.pinky-button {
  height: 24px;
  position: absolute;
  bottom: 8%;
  width: 100%;
  z-index: 600;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}

.pinky-button span {
  border: solid 1px gray;
  background-color: rgb(235, 237, 240);
  padding: 3px 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
}

.pinky-button span a {
  color: black !important;
}

.img-fb i {
  height: 10px;
  width: 12px;
  display: inline-block;
  background-size: 12px 39px;
}

.img-fb:nth-child(1) i {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/ONMHip9L981.png);
}

.img-fb:nth-child(2) i {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/ONMHip9L981.png);
  background-position: 1px 12px;
}

.pinky-p {
  /* height: 67px; */
  background-color: rgb(235, 236, 237);
  padding: 8px;
  font-size: 12px;
  width: 100%;
}

.pinky-p p {
  padding: 8px;
  background-color: white;
  color: black;
}
/* 
@media only screen and (min-width: 260px) and (max-width: 319px) {
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
}
@media only screen and (min-width: 411px) and (max-width: 449px) {
}
@media only screen and (min-width: 450px) and (max-width: 576px) {
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
} */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-block h4 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
}
