#list-small img {
  max-width: 100;
  width: 100%;
  height: auto;
  opacity: 0.5;
  margin: auto;
}

#list-small {
  position: relative;
}
#list-small .owl-nav button {
  position: absolute;
  top: 30%;
  z-index: 10;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  color: black;
  transition: 0.5s ease;
  opacity: 0;
}

#list-small .owl-nav button:first-child {
  left: -40px;
}
#list-small .owl-nav button:last-child {
  right: -40px;
}
#list-small .owl-nav button i {
  font-size: 10px;
}

#list-small:hover .owl-nav button:first-child {
  left: 10px;
  opacity: 1;
}
#list-small:hover .owl-nav button:last-child {
  right: 10px;
  opacity: 1;
}
#list-small .item-image-small div {
  position: relative;
  text-align: center;
  padding: 2px 5px;
}
#list-small .item-image-small div.active1:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid red;
  position: absolute;
  top: -6px;
}
#list-small div.active1 img {
  opacity: 1;
}
#list-small .item-image-small div.active1 {
  border: 0.5px solid red;
}
#list-small .owl-stage {
  padding: 10px 0 5px;
}
.list-image-small {
  width: 100%;
}
.list-image-large {
  width: 100%;
  position: relative;
}
.list-image-large div.zoomWrapper {
  width: 100% !important;
  height: 100%;
}

.list-image-large img {
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
  max-height: 585px !important;
}
.zoomLens {
  background-color: var(--color_one) !important;
}

/* phần tạo css cho input number */

.number-pro {
  position: relative;
  display: block;
  /*  */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  margin-left: 36px !important;
  color: var(--color_five);
}

.number-pro input {
  width: 40px;
  height: 35px;
  line-height: 1.65;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  border: none;
  font-size: 14px;
  border: 0.5px solid var(--color_three);
}

.quantity-button {
  position: absolute;
  cursor: pointer;
  border: none;
  width: 35px;
  height: 100%;

  text-align: center;
  color: var(--color_five);
  font-size: 13px;
  font-family: "FontAwesome" !important;
  line-height: 1.5;
  padding: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: white;
  border: 0.5px solid var(--color_three);
}

.quantity-button.quantity-up {
  top: 0;
  left: 110.5px;
  line-height: 1.6;
  border-left: none;
}

.quantity-button.quantity-down {
  top: 0;
  left: 35.5px;
  border-right: none;
}

/*  */
/*  */
.info-detail-product label,
.detail-price del,
.share-pro li a {
  font-weight: bold;
}
.info-detail-product h1 {
  font-size: 24px;
}
.button-tool > button {
  width: 50%;
  padding: 10px 0;
  text-transform: uppercase;
  margin-top: 10px;
}
.button-tool {
  display: flex;
}
.button-tool > button:first-child {
  color: var(--color_one);
  background-color: white;
  border: 1px solid var(--color_one);
  margin-right: 5px;
}
.button-tool > button:last-child {
  background-color: var(--color_one);
  color: white;
}
.tags-pro {
  display: flex;
  margin: 20px 0;
}
.tags-pro a + a:before {
  content: "/";
}
.share-pro ul {
  display: flex;
  flex-wrap: wrap;
}
.share-pro li {
  margin-right: 5px;
  padding: 10px 0;
}
.share-pro li a {
  padding: 10px;
  background-color: var(--color_eight);
  font-size: 12px;
}
.share-pro li:last-child a {
  background-color: var(--color_one);
  color: white;
}
.share-pro i.zb-logo-zalo {
  display: inline-block;
  background-image: url(https://stc.sp.zdn.vn/share/logo_white_s.png);
  width: 13px;
  height: 13px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.share-pro i {
  margin-right: 3px;
}
.share-pro li:first-child i {
  color: var(--color_one);
}
.share-pro li:nth-child(2) i {
  color: rgb(67, 95, 159);
}
.share-pro li:nth-child(3) i {
  color: rgb(224, 75, 52);
}
.share-pro li:hover a,
.share-pro li:hover i {
  color: white;
}
.share-pro li:first-child:hover a {
  background-color: var(--color_one) !important;
}
.share-pro li:nth-child(2):hover a {
  background-color: rgb(67, 95, 159) !important;
}
.share-pro li:nth-child(3):hover a {
  background-color: rgb(224, 75, 52) !important;
}
.select-info label {
  position: relative;
  height: 30px;
  padding: 5px 13px;
  border: 1px solid var(--color_six);
  margin-right: 10px;
  color: var(--color_five);
}
.select-info {
  display: flex;
}
.select-info input {
  display: none;
}
.checkmark {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  display: none;
  background-image: url(https://theme.hstatic.net/1000281673/1000364229/14/checkbox-pro.png);
  background-repeat: no-repeat;
}

.select-info label input:checked ~ .checkmark {
  display: block;
}
.select-info label.active {
  border-color: rgb(255, 115, 128);
}

.detail-price > span {
  font-size: 26px;
}
.info-detail-product > div:not(:last-child) {
  border-bottom: 1px solid var(--color_six);
}
.info-detail-product > div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.detail-price label,
.select-info label {
  font-weight: normal;
}

.detail-price div:last-child span {
  color: var(--color_one);
  font-weight: bold;
}
.detail-price > span,
.info-pro-item .price-item span {
  color: rgb(255, 121, 12);
  width: 100%;
  display: block;
}
.pro-view {
  margin-bottom: 20px;
}
.pro-view ul {
  padding: 0 10px;
  border: 1px solid var(--color_eight);
  padding-bottom: 20px;
}
.pro-view h3 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: var(--color_eight);
  padding: 10px;
  font-weight: bold;
  margin: 0;
}
.pro-view .item-pro-view {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.item-pro-view .image-pro-item {
  width: 40%;
}
.image-pro-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.info-pro-item {
  width: 55%;
  cursor: pointer;
}
.info-pro-item h4 {
  font-size: 15px;
}
.price-item del {
  margin-top: 10px;
  display: block;
  font-size: 13px;
}
.sale {
  position: absolute;
  top: 10px;
  background-color: var(--color_one);
  color: white;
  padding: 10px;
  font-weight: bold;
  right: 10px;
  font-size: 16px;
}

/*  css tab  */

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  border-left: 1px solid var(--color_eight);
  border-right: 1px solid var(--color_eight);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  margin-right: 2px;
}

.tabcontent.active {
  display: block;
}
.tab button:before {
  width: 100%;
  height: 0;
  position: absolute;
  content: "";
  background-color: var(--color_one);
  top: 0;
  left: 0;
}
.tab button.active,
.tab button:hover {
  background-color: white;
}
.tab button.active::before,
.tab button:hover:before {
  height: 2px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--color_eight);
  border-top: none;
}
#detail p {
  padding:0 10px ;
}
#detail p img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
}
#detail h2 {
  font-size: 16px;
  text-transform: uppercase;
}
#detail p.note-image {
  text-align: center;
  font-size: 12px;
}
/*  */

.product-introduce {
  padding-left: 40px;
}
.product-introduce li {
  padding-left: 20px;
  font-weight: bold;
}
.product-introduce li {
  list-style: disc;
}
#comment {
  padding: 10px 20px;
}
.comment-content input {
  width: 100%;
  padding: 10px;
}
.comment-content input::placeholder {
  color: var(--color_five);
}
.info-pro-item:hover h4 a,
.info-pro-item:hover del {
  color: var(--color_one);
}
.comment-content > div:not(:last-child) {
  border-bottom: 1px solid var(--color_eight);
}
.comment-item-tab,
.input-comment {
  padding: 20px 0;
}
.link-facebook i,
.link-facebook a {
  color: rgb(58, 85, 155);
  font-size: 12px;
  margin-right: 5px;
}
.link-facebook a:hover {
  text-decoration: underline;
}
/*  */
@media only screen and (max-width: 450px) {
  .button-tool > button {
    width: 100%;
    
  }
  .button-tool {
    flex-wrap: wrap;
  }
  .tablinks{
    width: 100%;
  }
}


